body{
    overflow-y: scroll;
}
.head-carousel h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #2F281E;
}
.head-carousel p{
    color: #2F281E;
}
.navbar-nav {
    font-weight: 600;
}
.btn-primary {
    background-color: #FF9900;
    border: 0;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
}
.btn-img{
    cursor: pointer;
}
.btn-signIn{
    font-weight: 600;
    color: #173A56;
    font-size: 16px;
    padding: 8px 25px;
    border: 1px solid #BCD0E5;
    background-color: white;
    border-radius: 7px;
}
.btn-signUp{
    margin-left: 14px;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 25px;
    border: none;
    background-color: #FF9900;
    border-radius: 7px;
}
.btn-signUp:hover{
    background-color: #ffa217;
    color: white;
}
.nav-item{
    margin-left: 10px;
}
.nav-link:hover {
    background-color: #f3f3f3;
    border-radius: 2px;
}
.title-fitur {
    position: relative;
    width: 100%;
}
.title-fitur h1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 36px;
    margin-left: 140px;
}
.background-fitur{
    background-image: url('images/asset/Bg.svg') !important;
}
.list-fitur {
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    position: relative;
    border-radius: 12px;
}
.list-fitur:hover{
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .5s;
    background-color: rgb(6, 64, 150);
    color: white;
}

.btn-signUp2{
    margin-left: 14px;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 25px;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    text-align: center;
    transition: color .15s ease-in-out;
    justify-content: center;
}
.btn-signUp2:hover {
    color: #ffe8c5;
    background-color: #FF9900;
}
.contain-text span {
    margin-top: 0;
}

.contain-text h1{
    font-size: 36px;
    font-weight: bold;
}
.contain-text h5{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.contain-text p{
    font-size: 16px;
}
.contain-jobs {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 12px;
    padding: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.contain-jobs:hover {
    background-color: #00ccb1;
    color: white;
}
.text-list{
    display: flex;
    align-items: center;
}
.section-teams{
    width: 80%;
}
.blog-article1, .blog-article2, .blog-article3 {
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px;
    justify-content: center;

}

.blog-article1:hover, .blog-article2:hover, .blog-article3:hover  {
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .5s;
    background-color: rgb(253, 253, 255);
}
.blog-article1 h4{
    font-weight: bold;
    font-size: 24px;
}

.blog-article2 h4{
    font-weight: bold;
    font-size: 24px;
}
.blog-article3 h4{
    font-weight: bold;
    font-size: 24px;
}
.footer{
    background-color: rgb(2, 3, 63);
    color: white;
}
.insert-email{
    border-radius: 4px;
    padding: 5px;
    border: 2px solid #FF9900;
    width: 230px;
}
.insert-email:hover{
    background-color: #fffefb;

}
.footer-2 p, .footer-3 p, .footer-4 p{
    cursor: pointer;
    font-weight: 600;

}